.swiper-slide {
  height: 50px;
  width: 50px;
  background-color: red;
  margin-left: 20px;
  transition: transform 2s;
  transform: translateX(0);
}

.swiper-slide:hover {
  /* transform: rotate(180deg); */
  transform: translateX(-50px);
  /* transition: transform 2s ease; */
}
.swiper-slide:nth-child(2n) {
  background-color: blue;
}

.swiper-slide:nth-child(3n) {
  background-color: green;
}

.swiper-slide:nth-child(4n) {
  background-color: yellow;
}
.swiper-slide:nth-child(5n) {
  background-color: pink;
}
.swiper-slide:nth-child(6n) {
  background-color: black;
}
.swiper-wrapper {
  display: flex;
  justify-content: center;
}
.swiper-button {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  height: 20px;
  margin-top: 20px;
  margin-left: 100px;
}

.is-hidden {
  display: none;
  opacity: 0;
  /* transform: translateX(-100px); */
}

.is-visible {
  transform: translateX(-100px);
  transition: transform 0.3s;
}
